@import "https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700";

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

#wrapper {
    z-index: 51;
    min-height: 100%;
    position: relative;
}

#navigation {
    padding-left: 750px;
}

nav {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
}

nav a {
    color: #111111 !important;
    font-weight: 500;
    font-size: 1.2em !important;
    padding-right: 2em;
    padding-left: 2em;
    text-decoration: none;
    letter-spacing: 0.05em;
}

nav a:hover {
    opacity: 0.6;
    transition: 0.3s;
    color: lightgray;
    text-decoration: none;
}

.nav-right {
    display: block;
    text-align: center;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Roboto Mono, Helvetica, Arial, sans-serif;
    font-size: 14 px;
    line-height: 1.78;
    color: #000;
    background-color: #fff;
}

img {
    margin-top: -80px;
    margin-bottom: -70px;
}

.footer-c {
    text-align: center;
    margin-left: 80px;
    font-size: 12px;
}

.template .page-title {
    font-weight: 400;
    color: #34495e;
    padding: 0;
    font-size: 36px;
    margin-top: 100px;
    margin-left: 150px;
}


.template .template-title {
    font-weight: 400;
    color: #34495e;
    margin-left: 155px;
    font-size: 14px;
}

.mainP {
    color: #34495e;
    font-size: 14px;
    margin-left: 230px;
    line-height: 30px;
}

.pahead {
    font-weight: 800;
}